extends layout
block content
    script(src='/js/publish.js')
    script(src='/js/jquery.uploadifive.min.js')
    link(rel='stylesheet', href='/css/uploadifive.css')
    link(rel='stylesheet', href='/css/publish.css')
    include head
    .container
        div.panel.panel-default
            div.panel-heading
                h3.panel-title 我要转卖
            div.panel-body
                form
                    div(id='queue')
                    div.fileupload-wrap
                        input(id="file_upload",name="file_upload",type="file",style="display:none")
                    button.btn.btn-danger(type='button',id='upload_start') 开始