.panel
  margin-top 50px
  color #666
  height 1000px
  form
    width 100%
    height 100px
    padding 0 100px
    background-color #fff
    border-bottom 1px solid #ebebeb
    .fileupload-tips
      margin-bottom 20px
      font-size 15px
    .upload-btn
      height 34px !important
      width 108px !important
      line-height 20px !important
      display inline-block
      padding 6px 12px
      margin-bottom 0
      font-size 14px
      font-weight normal
      line-height 1.428571429
      text-align center
      white-space nowrap
      vertical-align middle
      cursor pointer
      background-image none
      border 1px solid transparent
      border-radius 4px
      -webkit-user-select none
      float left
      margin-right 10px
    #queue
      border 1px solid #E5E5E5
      height 177px
      overflow auto
      margin-bottom 10px
      padding 0 3px 3px
      width 100%
    .uploadifive-queue-item
      display none
     #imgType
       color #2a6496
       font-size 20px
  .pic-preview-wrap
    width 100%
    height 100px
    padding 0 100px
    background-color #fff
    .pic-preview-title
        margin-top 20px
        font-size 20px
    .pic-preview-content
        margin 20px 0
        width 200px
        height 200px
        border 1px solid #ebebeb
        img
          width 200px
          height 200px
   .input-group
     margin-bottom  20px
   #release
     margin-top 20px