body 
  position: relative; /* For scrollyspy */
 padding-top: 50px; /* Account for fixed navbar */html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, font, strong, b, i, dl, dt, dd, ol, ul, li, dl, dd, dt, iframe, label, blockquote, input, button
  padding 0
  margin 0
  list-style none

input, button, select, textarea
  outline none

.row
  margin-top 55px